
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>about us</h4>
                        <h2>more about us!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->

<section class="about-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <img src="assets/images/about-fullscreen-1-1920x700.jpg" alt="">
                <p>Nasi Ispani is the place where possibilities begin. Where great candidates and employers meet. This is what we do every day – it’s what we love doing and it’s what we’re good at..</p>

                <p>Nasi Ispani is the leading online e-Recruitment Service Provider in South Africa. As a member of the internationally recognised StepStone Group, we have access to global knowledge and resources of an e-Recruitment multinational..</p>

                <p>We provide a professional online space for you to differentiate yourself from your competitors and establish your company as an attractive place to work..</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>


