
@{
    ViewBag.Title = "ChefDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>R 32 978</h4>
                        <h2>Executive Chef</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="assets/images/product-1-720x480.jpg" alt="" class="img-fluid wc-image">
                </div>

                <br>
            </div>

            <div class="col-md-8">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>
                            <i class="fa fa-map-marker"></i> Pretoria, Arcadia &nbsp;&nbsp;
                            <i class="fa fa-calendar"></i> 20-06-2023 &nbsp;&nbsp;
                            <i class="fa fa-file"></i> Permanent
                        </h2>
                    </div>

                    <div class="content">
                        <p>Macgee Restuarent is looking for a skilled and experience Executive chef to join their Kitchen</p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="main-button">
                            <a href="@Url.Action("AddApplication", "Account")">Apply for this Job</a>
                        </div>
                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>
</section>

<div class="section contact-us">
    <div class="container">
        <div class="sidebar-item recent-posts">
            <div class="sidebar-heading">
                <h2>Responsibilities</h2>
            </div>

            <div class="content">
                <p>
                    Plan and direct food preparation and culinary activities.<br />
                    Modify menus or create new ones that meet quality standards.<br />
                    Estimate food requirements and food labor/costs.<br />
                    Supervise and manage kitchen staff.<br />
                    Arrange for equipment purchases and repairs.<br />
                    Give prepared meals the "Final tourch".<br />
                    Perform administrative duties.<br />
                    Keep time and payroll records.<br />
                    Maintaina positive and professional approach with coworkers and customers.<br />
                    Report writing<br />
                    Project Management when required<br />
                </p>

            </div>
            <br />
            <br />

            <div class="sidebar-heading">
                <h2>Requirements</h2>
            </div>

            <div class="content">
                <ol>
                    <li>
                        <p> Proven kitchen experience experience</p>


                    </li>

                    <li>
                        <p>  Excellent record of kitchen management</p>

                    </li>

                    <li>
                        <p> Hospitality International certificate</p>

                    </li>
                    <li>
                        <p>Commununication and leadership skills</p>

                    </li>
                    <li>
                        <p>Working knowlwdge of various computer software programs( MS Office, restuarent management software, POS)</p>

                    </li>
                    <li>
                        <p>BSC degree in cullinary science or related discipline </p>

                    </li>
                </ol>
            </div>

            <br>
            <br>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>About Macgee Restuarant</h2>
                    </div>

                    <div class="content">
                        <p class="lead"> <i class="fa fa-map-marker"></i> Gauteng, Midrand </p>

                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit rerum obcaecati aspernatur qui molestias voluptatibus odit placeat. Ipsa, nisi, quod?</p>

                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias a, minus fugiat corporis, dolorem laborum nemo. Fugiat dolores, asperiores deserunt ex porro provident similique eius repellat error modi dignissimos doloribus.</p>

                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis incidunt, quibusibus molestiae! Porro dicta fugit magnam quod atque soluta voluptate voluptatum, mollitia praesentium provident. Quibusdam quisquam minima, accusantium nulla, deserunt recusandae doloribus quam illum, ex eaque ipsam!</p>

                        <br>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>Contact Details</h2>
                    </div>

                    <div class="content">
                        <p>
                            <span>Name</span>

                            <br>

                            <strong>John Smith</strong>
                        </p>

                        <p>
                            <span>Phone</span>

                            <br>

                            <strong>
                                <a href="tel:123-456-789">011 454 1625</a>
                            </strong>
                        </p>

                        <p>
                            <span>Mobile phone</span>

                            <br>

                            <strong>
                                <a href="tel:456789123">079 233 1705</a>
                            </strong>
                        </p>

                        <p>
                            <span>Email</span>

                            <br>

                            <strong>
                                <a href="mailto:01crusaders@gmailo.com">01crusadera@gmail.com</a>
                            </strong>
                        </p>

                        <p>
                            <span>Website</span>

                            <br>

                            <strong>
                                <a href="http://www.cannonguards.com/">http://www.cannonguards.com/</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


