
@{
    ViewBag.Title = "EngineerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>R26 000</h4>
                        <h2>Mechancal Engineer.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="assets/images/product-1-720x480.jpg" alt="" class="img-fluid wc-image">
                </div>

                <br>
            </div>

            <div class="col-md-8">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>
                            <i class="fa fa-map-marker"></i> Gauteng, Midrand &nbsp;&nbsp;
                            <i class="fa fa-calendar"></i> 20-06-2023 &nbsp;&nbsp;
                            <i class="fa fa-file"></i> Contract
                        </h2>
                    </div>

                    <div class="content">
                        <p>BMG Autoways is looking for a skilled and experience mechanical engineer to join their organization!</p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="main-button">
                            <a href="@Url.Action("AddApplication", "Account")">Apply for this Job</a>
                        </div>
                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>
</section>

<div class="section contact-us">
    <div class="container">
        <div class="sidebar-item recent-posts">
            <div class="sidebar-heading">
                <h2>Responsibilities</h2>
            </div>

            <div class="content">
                <p>
                    Meeting with clients and design teams to determine mechanical applications and requirements.<br />
                    Conducting research to inform the design and engineering methods required for the mechanical systems.<br />
                    Planning and executing mechanical designs using CAD, CAM, and 3D CAD programs.<br />
                    Performing computer simulations and experiments to virtually test and refine the designs.<br />
                    Overseeing the development and manufacturing of physical prototypes for testing.<br />
                    Documenting the design process, iterations, and test analytics.<br />
                    Managing project timelines, resources, and budgets.<br />
                    Liaising with clients, designers, engineers, and manufacturers to ensure coherence.<br />
                    Preparing technical reports, design specifications documents<br />
                    Keeping abreast of the latest advancements in technology, design trends, and engineering best practices.<br />
                    Report writing<br />
                    Project Management when required<br />
                </p>

            </div>
            <br/>
            <br/>

            <div class="sidebar-heading">
                <h2>Requirements</h2>
            </div>

            <div class="content">
                <ol>
                    <li>
                        <p> Mining Process Plant Design experience</p>
          

                    </li> 
                    
                    <li>
                        <p>  Must have HEAVY Engineering Industry experience within a mining EPC/EPCM</p>

                    </li>
                    
                    <li>
                        <p> Bachelor’s or B-Tech Mechanical Engineering</p>

                    </li>
                    <li>
                        <p>3-5 Years' working experience in a Heavy Engineering Industry </p>

                    </li> 
                    <li>
                        <p>Draughting experience</p>

                    </li>
                    </ol>
            </div>

            <br>
            <br>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>About BMG Autoways pty</h2>
                    </div>

                    <div class="content">
                        <p class="lead"> <i class="fa fa-map-marker"></i> Gauteng, Midrand </p>

                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit rerum obcaecati aspernatur qui molestias voluptatibus odit placeat. Ipsa, nisi, quod?</p>

                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias a, minus fugiat corporis, dolorem laborum nemo. Fugiat dolores, asperiores deserunt ex porro provident similique eius repellat error modi dignissimos doloribus.</p>

                        <br>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis incidunt, quibusibus molestiae! Porro dicta fugit magnam quod atque soluta voluptate voluptatum, mollitia praesentium provident. Quibusdam quisquam minima, accusantium nulla, deserunt recusandae doloribus quam illum, ex eaque ipsam!</p>

                        <br>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                        <h2>Contact Details</h2>
                    </div>

                    <div class="content">
                        <p>
                            <span>Name</span>

                            <br>

                            <strong>John Smith</strong>
                        </p>

                        <p>
                            <span>Phone</span>

                            <br>

                            <strong>
                                <a href="tel:123-456-789">011 454 1625</a>
                            </strong>
                        </p>

                        <p>
                            <span>Mobile phone</span>

                            <br>

                            <strong>
                                <a href="tel:456789123">079 233 1705</a>
                            </strong>
                        </p>

                        <p>
                            <span>Email</span>

                            <br>

                            <strong>
                                <a href="mailto:01crusaders@gmailo.com">01crusadera@gmail.com</a>
                            </strong>
                        </p>

                        <p>
                            <span>Website</span>

                            <br>

                            <strong>
                                <a href="http://www.cannonguards.com/">http://www.cannonguards.com/</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


