
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            <div class="item">
                <img src="assets/images/product-1-720x480.jpg" alt="">
                <div class="item-content">

                    <div class="main-content">
                        <div class="meta-category">
                            <span>R 32 978</span>
                        </div>

                        <a href="job-details.html"><h4>Executive Chef.</h4></a>

                        <ul class="post-info">
                            <li><i class="fa fa-briefcase"></i> Hospitality Department </li>
                            <!--<li><i class="fa fa-user"></i> Health Jobs</li></div>-->
                        </ul>
                    </div>

                </div>
            </div>
            <div class="item">
                <img src="assets/images/product-2-720x480.jpg" alt="">
                <div class="item-content">

                    <div class="main-content">
                        <div class="meta-category">
                            <span>R 19 000</span>
                        </div>

                        <a href="job-details.html"><h4>Rope Access Technician Level 5.</h4></a>

                        <ul class="post-info">
                            <li><i class="fa fa-briefcase"></i> On Field Technicians </li>

                            <!--<li><i class="fa fa-user"></i> Health Jobs</li>-->
                        </ul>
                    </div>

                </div>
            </div>
            <div class="item">
                <img src="assets/images/product-3-720x480.jpg" alt="">
                <div class="item-content">

                    <div class="main-content">
                        <div class="meta-category">
                            <span>R 20 225</span>
                        </div>

                        <a href="job-details.html"><h4>Senior Educator.</h4></a>

                        <ul class="post-info">
                            <li><i class="fa fa-briefcase"></i>Department Of Education</li>
                            <!--<li><i class="fa fa-user"></i> Health Jobs</li>-->
                        </ul>
                    </div>

                </div>
            </div>
            <div class="item">
                <img src="assets/images/product-4-720x480.jpg" alt="">
                <div class="item-content">

                    <div class="main-content">
                        <div class="meta-category">
                            <span>R 26 000</span>
                        </div>

                        <a href="job-details.html"><h4>Mechanical Engineer.</h4></a>

                        <ul class="post-info">
                            <li><i class="fa fa-briefcase"></i> Department Of Engineering</li>
                            <!--<li><i class="fa fa-user"></i> Health Jobs</li>-->
                        </ul>
                        <div class="col-lg-12">
                            <ul class="post-tags">
                                <li><i class="fa fa-bullseye"></i></li>
                                <li><a href="@Url.Action("EngineerDetails", "Home")">View Job</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item">
                <img src="assets/images/product-5-720x480.jpg" alt="">
                <div class="item-content">

                    <div class="main-content">
                        <div class="meta-category">
                            <span>R 8000</span>
                        </div>

                        <a href="job-details.html"><h4>Fire Fighter Learnerships</h4></a>

                        <ul class="post-info">
                            <li><i class="fa fa-briefcase"></i> Training and Empowermemt </li>
                            <!--<li><i class="fa fa-user"></i> Health Jobs</li>-->
                        </ul>
                    </div>

                </div>
            </div>
            <div class="item">
                <img src="assets/images/product-6-720x480.jpg" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>R 12 000</span>
                        </div>

                        <a href="job-details.html"><h4>Receptionist.</h4></a>

                        <ul class="post-info">
                            <li><i class="fa fa-briefcase"></i> Medical </li>
                            <!--<li><i class="fa fa-user"></i> Health Jobs</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="all-blog-posts">
            <h2 class="text-center">Featured Jobs</h2>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="~/assets/images/product-4-720x480.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>R 26 000</span>
                            <a href="job-details.html"><h4>Mechanical Engineer</h4></a>
                            <p>Analyse their work using the principles of motion, energy and forces- Ensureing designs function safely, efficiently and reliably</p>
                            <div class="post-options">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="post-tags">
                                            <li><i class="fa fa-bullseye"></i></li>
                                            <li><a href="@Url.Action("EngineerDetails", "Home")">View Job</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="~/assets/images/product-5-720x480.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>R 8000</span>
                            <a href="job-details.html"><h4>Fire Fighter Learnership</h4></a>
                            <p>Your complete resource for firefighting equipment with a guarantee on all new equipment</p>
                            <div class="post-options">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="post-tags">
                                            <li><i class="fa fa-bullseye"></i></li>
                                            <li><a href="job-details.html">View Job</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
    <div class="col-sm-6">
        <div class="blog-post">
            <div class="blog-thumb">
                <img src="~/assets/images/product-6-720x480.jpg" alt="">
            </div>
            <div class="down-content">
                <span>R12 000</span>
                <a href="job-details.html"><h4>Receptionist</h4></a>
                <p>Helping Vistors navigate through an office and supplying them with refreshments as they wait.</p>
                <div class="post-options">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="post-tags">
                                <li><i class="fa fa-bullseye"></i></li>
                                <li><a href="job-details.html">View Job</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
            </div>
        </div>
        </div>
    </div>
</section>

<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <span>Get In touch.</span>
                            <h4>Let us help you secure you next job.</h4>
                        </div>
                        <div class="col-lg-4">
                            <div class="main-button">
                                <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-posts grid-system">
    <div class="container">
        <div class="all-blog-posts">
            <h2 class="text-center">Blog</h2>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="assets/images/blog-1-720x480.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <a href="blog-details.html"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4></a>

                            <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>

                            <ul class="post-info">
                                <li><a href="#">John Doe</a></li>
                                <li><a href="#">10.07.2020 10:20</a></li>
                                <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="assets/images/blog-2-720x480.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <a href="blog-details.html"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4></a>

                            <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>

                            <ul class="post-info">
                                <li><a href="#">John Doe</a></li>
                                <li><a href="#">10.07.2020 10:20</a></li>
                                <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="assets/images/blog-3-720x480.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <a href="blog-details.html"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4></a>

                            <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>

                            <ul class="post-info">
                                <li><a href="#">John Doe</a></li>
                                <li><a href="#">10.07.2020 10:20</a></li>
                                <li><a href="#"><i class="fa fa-comments" title="Comments"></i> 12</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="blog-posts">
    <div class="container">
        <div class="sidebar-item comments">
            <h2 class="text-center">Testimonials</h2>
            <br>
            <br>
            <div class="content">
                <ul>
                    <li>
                        <div class="author-thumb">
                            <img src="assets/images/comment-author-01.jpg" alt="">
                        </div>
                        <div class="right-content">
                            <h4>Matamela Phathutshedzo<span>01.03.2023</span></h4>
                            <p>Today I am working at one of the biggest mining company in South Africa, Nasi Ispani is a game changer and its here to stay.</p>
                        </div>
                    </li>
                    <li>
                        <div class="author-thumb">
                            <img src="assets/images/comment-author-02.jpg" alt="">
                        </div>
                        <div class="right-content">
                            <h4>Octavia Blake<span>10.10.2022</span></h4>
                            <p>After 3 years of being unemployed, Nasi Ispani changed my life and gave me the job of my dreams.</p>
                        </div>
                    </li>
                    <li>
                        <div class="author-thumb">
                            <img src="assets/images/comment-author-03.jpg" alt="">
                        </div>
                        <div class="right-content">
                            <h4>Gloria Banyakwang<span>10.07.2022</span></h4>
                            <p>I encourage all graduates to look at this brilliant website, It is here to tackle unemployment</p>
                        </div>
                    </li>
                </ul>
            </div>

            <br>
            <br>

            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="main-button">
                        <a href="testimonials.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
