
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Terms</h4>
                        <h2>Our terms &amp; conditions!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<div class="blog-posts">
    <div class="container">
        <div class="blog-post">
            <div class="down-content down-content-border">
                <h4>1) Introduction</h4>
                <p>We respect your privacy and take it seriously. We are P-NET (PTY) Ltd, Registration number (1999/005423/07). The purpose of this policy is to describe how we collect, store, use, and protect your personal information. It is also to describe the choices available to you regarding our use of your personal information and how you can access and update this information.</p>
            </div>
        </div>

        <div class="blog-post">
            <div class="down-content down-content-border">
                <h4>2) Audience</h4>
                <p>
                    
                    This policy applies to you if you:
                    
                    1. are a visitor to our website;<br />
                    2. create a user account on our website;<br />
                    3 add to and manage your personal profile;<br />
                    4. contact or communicate with us via our website;<br />
                    5. submit responses to job specifications, surveys or polls, provide feedback, rate companies, or make available any other content on the website; or<br />
                    op-in to marketing communication.
                </p>
            </div>
        </div>

        <div class="blog-post">
            <div class="down-content down-content-border">
                <h4>3)  Acceptance and Changes</h4>
                <p>
                   
                    You must accept all the terms of this policy when you register for any of our services. If you do not agree with anything in this policy or changes made to it, then you may not register for and use any of the services. We will notify you of any changes by placing a notice in a prominent place on the website or by sending you an email detailing the changes that we have made and indicating the date that they were last updated. If you continue to use the website or our goods or services following notification of a change to the terms, the changed terms will apply to you and you will be deemed to have accepted those updated terms.
                    You may not access our website or use our services if you are younger than 18 years old or do not have legal capacity to conclude legally binding contracts. We may change the terms of this policy at any time by updating this web page, and notifying you of any change
                </p>
            </div>
        </div>

        <div class="blog-post">
            <div class="down-content down-content-border">
                <h4>4) Use</h4>
                <p>
                    
                    Our obligations
                    We may use your personal information to fulfil our obligations to you.

                    Messages and updates
                    We may send administrative messages and email updates to you about the website. In some cases, we may also send you primarily promotional messages. You can choose to opt-out of promotional messages.

                    Targeted content
                    While you are logged into the website, we may display targeted adverts and other relevant information based on your personal information. In a completely automated process, computers process the personal information and match it to adverts or related information. We never share personal information with any advertiser, unless you specifically provide us with your consent to do so. Advertisers receive a record of the total number of impressions and clicks for each advert. They do not receive any personal information. If you click on an advert, we may send a referring URL to the advertiser’s website identifying that a customer is visiting from the website. We do not send personal information to advertisers with the referring URL. Once you are on the advertiser’s website however, the advertiser is able to collect your personal information.
                </p>
            </div>
        </div>

        <div class="blog-post">
            <div class="down-content down-content-border">
                <h4>5) Security</h4>
                <p>
                    
                    We take the security of personal information very seriously and always do our best to comply with applicable data protection laws. Our hosting company will host our website in a secure server environment that uses a firewall and other advanced security measures to prevent interference or access from outside intruders. We authorize access to personal information only for those employees who require it to fulfil their job responsibilities. We implement disaster recover procedures where appropriate.
                </p>
            </div>
        </div>
    </div>
</div>


