
@{
    ViewBag.Title = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Testimonials</h4>
                        <h2>Read what people say about us!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<div class="blog-posts">
    <div class="container">
        <div class="sidebar-item comments">
            <div class="content">
                <ul>
                    <li>
                        <div class="author-thumb">
                            <img src="~/assets/images/comment-author-01.jpg" alt="">
                        </div>
                        <div class="right-content">
                            <h4>Matamela Phathutshedzo<span>01.03.2023</span></h4>
                            <p>Today I am working at one of the biggest mining company in South Africa, Nasi Ispani is a game changer and its here to stay.</p>
                        </div>
                    </li>
                    <li>
                        <div class="author-thumb">
                            <img src="~/assets/images/comment-author-02.jpg "alt="">
                        </div>
                        <div class="right-content">
                            <h4>Octavia Blake<span>10.10.2022</span></h4>
                            <p>After 3 years of being unemployed, Nasi Ispani changed my life and gave me the job of my dreams.</p>
                        </div>
                    </li>
                    <li>
                        <div class="author-thumb">
                            <img src="~/assets/images/comment-author-03.jpg" alt="">
                        </div>
                        <div class="right-content">
                            <h4>Gloria Banyakwang<span>10.07.2022</span></h4>
                            <p>I encourage all graduates to look at this brilliant website, It is here to tackle unemployment</p>
                        </div>
                    </li>

                    <li>
                        <div class="author-thumb">
                            <img src="~/assets/images/comment-author-01.jpg" alt="">
                        </div>
                        <div class="right-content">
                            <h4>Solomon Morerwa<span>01.07.2022</span></h4>
                            <p>You need a job? Nasi ispani will get you a job of your dreams ypu just have to register on their Website</p>
                        </div>
                    </li>
                    <li>
                        <div class="author-thumb">
                            <img src="~/assets/images/comment-author-02.jpg" alt="">
                        </div>
                        <div class="right-content">
                            <h4>Victory Mthombeni<span>06.06.2021</span></h4>
                            <p>I applied and got an Interview Invitation in two days</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <br>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <div class="main-button">
                    <a href="#">Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>


